/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

.table .even{
  color: white;
  td {
    background-color: steelblue;
  }
}

.table .odd{
  color: white;
  td {
    background-color: tomato;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
