/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

.table .even{
  background-color: steelblue;
  color: white;
};

.table .odd{
  background-color: tomato;
  color: white;
};


